/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-test {
	border: 1px dotted #f00;
	background-color:#000;
	max-width:1420px;
	width:100%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	&.left{
		flex-direction:row-reverse;
	}
	&.right{
		flex-direction:row;
	}
	select{
		flex:1 0 auto;
		width:100%;
		
	}
	p,img{
		width:50%;
	}
}



